<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wynne.android">
    <application>
        <activity
            android:theme="@style/AppTheme"
            android:name=".BaseAndroidActivity"
            android:launchMode="singleTop" />
        <activity android:name=".AllowTaskReparentingActivity"
            android:taskAffinity="com.xxw"
            android:allowTaskReparenting="true"
            />
        <activity android:name="com.wynne.android.third.dagger.DaggerActivity"/>
        <activity android:name="com.wynne.android.third.TripartiteActivity"/>
        <activity android:name=".lifecycle.FourComponentWithLifeActivity"/>
        <activity android:name=".handler.HandlerActivity"/>
    </application>
</manifest>
