<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wynne.android">

    <application>
        <activity
            android:name=".BaseAndroidActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".custom.AndroidCustomActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".recycle.RecycleViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".carousel.CarouselActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
