<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wynne.knowledge.mark">

    <application
        android:name=".MarkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".home.BookActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".memo.MemoActivity" />
        <activity android:name=".activity.DrawableActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".art.ArtActivity" />
        <activity
            android:name=".art.charpter1.ChapterOneActivity"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".art.charpter2.ChapterTwoActivity">
            <intent-filter>
                <action android:name="com.wynne.chapter.two" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.wynne.chapter.three" />
                <category android:name="com.wynne.chapter.four" />

                <data android:scheme="http" />
                <data android:scheme="file" />
                <!--<data android:host="www.baidu.com" />-->
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomActivity" />
        <activity android:name=".activity.ShadowActivity" />
        <activity android:name=".jetpack.JetPackActivity" />
        <activity android:name=".activity.XFermodeActivity" />
        <activity android:name=".activity.AnimationPathActivity" />
        <activity android:name=".jetpack.PagingActivity" />
        <activity android:name=".interview.InterViewActivity" />
        <activity android:name=".interview.http.HttpActivity" />
        <activity android:name=".interview.optimize.OptimizeActivity" />
    </application>
</manifest>
