<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wynne.android">

    <application
        android:name=".AndroidApplication"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".BaseAndroidActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllowTaskReparentingActivity"
            android:process="com.xxw" />
        <activity android:name=".lifecycle.LifeActivity" />
        <activity android:name="com.wynne.android.third.dagger.DaggerActivity" />
        <activity android:name="com.wynne.android.third.retrofit.RetrofitActivity" />
        <activity android:name="com.wynne.android.third.TripartiteActivity" />
        <activity android:name="com.wynne.android.third.dagger.DaggerSecondActivity" />

    </application>
</manifest>
