<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wynne.http">

    <application
        android:theme="@style/AppTheme"
        android:name=".HttpApplication"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".BaseHttpActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SocketActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
