<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wynne.knowledge.tree">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.wynne.knowledge.tree.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".guide.filter.ImplicitActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".guide.constrain.ConstraintActivity"
            android:launchMode="singleTop" />

        <activity android:name=".guide.filter.FilterActivity">
            <intent-filter>
                <action android:name="com.wynne.knowledge.tree.Filter" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".custom.loader.ClassLoaderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".guide.notification.NotificationActivity"
            android:launchMode="singleTop" />
        <activity android:name=".guide.notification.NotificationPendActivity" />

        <receiver android:name=".guide.notification.NotificationActivity$MyBroadCast" />

        <activity
            android:name=".guide.appbar.AppbarActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

        </activity>

        <activity
            android:name=".bookmark.activity.SampleActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".bookmark.activity.TaskActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".guide.systemstatus.StatusBarActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


        <activity
            android:name=".guide.service.ServiceActivity"
            android:launchMode="singleTop" />


        <service
            android:name=".guide.service.StandardService"
            android:exported="false" />

        <service android:name=".guide.service.BindService" />

        <activity
            android:name=".guide.webview.WebViewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".custom.ipc.IpcActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".bookmark.activity.FlagsActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="com.wynne.activity.taskactivity" />
                <action android:name="com.wynne.activity.baskactivity" />

                <category android:name="com.wynne.activity.category.a" />
                <category android:name="com.wynne.activity.category.b" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity
            android:name=".custom.ipc.provider.ProviderActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".custom.ipc.socket.SocketActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".custom.ipc.binder.BinderPoolActivity"
            android:launchMode="singleTop" />
        <!--WebView 添加Google浏览器 安全认证-->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <service
            android:name=".custom.ipc.BookManagerService"
            android:process=":remote" />

        <service
            android:name=".custom.ipc.socket.TCPService"
            tools:remove=":remote" />

        <service
            android:name=".custom.ipc.binder.BinderPoolService"
            tools:remove=":remote" />


        <!--authorities 必须保证唯一性 -->
        <!--permission  增加权限 外界需要声明权限才能访问 -->
        <provider
            android:name=".custom.ipc.provider.BookProvider"
            android:authorities="com.wynne.knowledge.tree.custom.ipc.provider"
            android:permission="com.wynne.PROVIDER"
            android:process=":provider" />
    </application>

</manifest>