<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wynne.other">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OtherApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".BaseOtherActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".status.StatusBarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".edit.OtherInputEditActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".grammar.KotlinGrammarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".web.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".coroutine.CoroutineActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".kotlin.KotlinCoreActivity"
            android:launchMode="singleTop" />
    </application>

</manifest>