<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wynne.math">

    <application>
        <activity
            android:name=".BaseMathActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".linked.LinkedListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".stack.StackActivity"
            android:launchMode="singleTop" />
    </application>
</manifest>
