<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wynne.knowledge.guide">


    <application>
        <activity
            android:name=".filter.ImplicitActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".constrain.ConstraintActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".notification.NotificationActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".appbar.AppbarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".systemstatus.StatusBarActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".service.ServiceActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".webview.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".material.RecycleActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".material.BottomSheetActivity"
            android:launchMode="singleTop" />

        <activity android:name=".home.GuideActivity"/>


        <service android:name=".service.StandardService" />
        <service android:name=".service.BindService" />

    </application>
</manifest>
